@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --primary-color: #01959f;
  }
}

body {
  background: (var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

progress {
  border-radius: 7px; 
}

progress::-webkit-progress-bar {
  border-radius: 7px;
}

progress::-webkit-progress-value {
  border-radius: 7px 0 0 7px;
}
